body {
  margin: 20px;
}

button {
  border: none;
  padding: 4px 8px;
  background-color: aquamarine;
  cursor: pointer;
}

button:hover {
  background-color: darkcyan;
}

.comment {
  background-color: beige;
  border-left: 1px solid grey;
  padding-left: 20px;
}


.comment-actions {
  display: flex;
  gap: 4px;
}
