.spreadsheet {
  outline: none;
  width: fit-content;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  width: 80px;
  height: 30px;
  text-align: left;
  padding: 4px;
}

th {
  background: #f3f3f3;
  text-align: center;
}

td.selected {
  border: 2px solid #1a73e8;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
}
